//dimension
$width-large: 1200px; 
$width-medium: 991px;
$width-small-medium: 767px;
$width-small: 441px;

//color
$color-orange: #ff7521;
$color-dark-purple: #3e3952;
$color-light-purple: #726c89;
$color-light-blue: #21c0e8;
$color-white-gray: #f2f4f7;
$color-light-gray: #e0e4ea;
$color-gray: #bcc1c7;

$color-facebook-blue: #4c73c4;