@charset "UTF-8";
/**
 * Layout
 */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #fff;
}

.site-frame,
.guide-frame {
  position: relative;
  min-width: 600px;
  height: 100%;
}

.guide-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 5;
  box-sizing: border-box;
}

.guide-main {
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  max-width: 1240px;
  min-height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.guide-sidebar {
  float: left;
  padding-top: 90px;
  padding-right: 4%;
  width: 20%;
  min-height: 100%;
  box-sizing: border-box;
}

.guide-content {
  float: right;
  padding-top: 90px;
  padding-bottom: 90px;
  width: 80%;
  min-height: 100%;
  background-color: #fff;
  box-sizing: border-box;
}

/**
 * Typo
 */
.guide-page-tit {
  margin-bottom: 70px;
  font-family: 'Nanum Gothic Extra Bold';
  font-size: 3em;
  font-weight: 800;
  letter-spacing: -2px;
}

/**
 * Header
 */
.guide-header {
  background-color: #333;
}
.guide-header h1 {
  margin: 0;
  padding-top: 15px;
  margin-left: 30px;
  font-size: 2em;
}
.guide-header h1 .img-symbol {
  margin-right: 5px;
  margin-bottom: -3px;
  height: 25px;
}
.guide-header h1 .site-name {
  font-family: 'Nanum Gothic Extra Bold';
  font-weight: 800;
}
.guide-header h1 small {
  margin-left: 10px;
  font-size: 0.5em;
  color: #fff;
}
.guide-header h1 small a {
  color: #fff;
}

.btn-page-top {
  position: fixed;
  top: 0;
  right: 0;
  display: none;
  padding-top: 4px;
  width: 30px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
}
.btn-page-top.active {
  display: block;
}

/**
 * Global navigation
 */
.global-nav a {
  display: block;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 0.9em;
}
.global-nav a.active::after {
  content: "»";
  margin-left: 5px;
  color: #21C0E8;
  font-size: 1.2em;
}
.global-nav h3 {
  margin-top: 15px;
  margin-bottom: 0;
  padding-top: 15px;
  padding-bottom: 10px;
  border-top: 1px dashed #ccc;
  color: #FF7521;
}
.global-nav li:first-child h3 {
  margin-top: 0;
  padding-top: 0;
  border-top: none;
}

/**
 * Style item
 */
.style-item {
  margin-bottom: 2.5em;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  border-bottom: 4px solid #ddd;
}
.style-item:last-child {
  margin-bottom: 0;
}
.style-item h3 {
  margin-bottom: 30px;
  font-size: 1.2em;
}
.style-item h3:before {
  content: ' ';
  display: inline-block;
  margin-right: 10px;
  width: 8px;
  height: 16px;
  background-color: #585858;
  vertical-align: middle;
}
.style-item h3 + .guide-box.gray {
  padding: 15px;
}
.style-item .guide-desc {
  margin-bottom: 30px;
  line-height: 1.6;
}
.style-item .guide-desc a {
  color: #21C0E8;
  text-decoration: underline;
}

.item-box {
  background-color: #fff;
  border: 1px solid #ddd;
}
.item-box + .item-box {
  margin-top: 10px;
}
.item-box > li {
  padding: 15px;
  border-top: 1px dashed #ddd;
}
.item-box > li:first-child {
  border-top: none;
}
.item-box > li.code, .item-box > li:nth-child(2) {
  padding: 0;
}
.item-box > li.default {
  padding: 15px;
}
.item-box > li.bg-dark {
  background-color: #f2f4f7;
}

.guide-colors .guide-color-item {
  display: inline-block;
}

.guide-color-item {
  width: 70px;
  height: 70px;
  text-align: center;
  vertical-align: top;
}
.guide-color-item span {
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.7em;
  text-transform: uppercase;
}
.guide-color-item i {
  display: block;
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.7em;
  line-height: 1.2;
}
.guide-color-item i::before {
  content: '*';
}
.guide-color-item.dark span, .guide-color-item.dark i {
  color: #fff;
}

.fll {
  float: left;
  box-sizing: border-box;
  padding-right: 15px;
}
.fll:last-child {
  padding-right: 0;
}

.inlb {
  display: inline-block;
  margin-right: 11px;
  vertical-align: bottom;
}
.inlb:last-child {
  margin-right: 0;
}

.link-new-win {
  color: #fe4a00;
  text-decoration: underline;
  line-height: 1.6;
}
.link-new-win::before {
  content: '#';
}
.link-new-win:hover {
  color: #fe4a00;
  text-decoration: underline;
}

.syntaxhighlighter {
  max-height: 200px;
}

/**
 * Color
 */
.text-red {
  color: red;
}

.text-marker {
  padding: 0 5px;
  background-color: #6ce26c;
  color: #000;
}

/*# sourceMappingURL=styleguide.css.map */
