/**
 * Page Basic Style
 */

%page-title {
	margin: 0 ;
	@include font-han-bold;	
	font-size: em(35);
	line-height: 1.3;
}

.page-basic {
	.page-title {
		@extend %page-title;
	}
	
	.section-title {
		@extend .page-title;
	}

	.wrapper .blog .blog-content .blog-post .blog-info & {
		p {
			margin-top: 0;
			color: inherit;
			text-align: inherit;
		}
	}
}

.wrapper .blog .blog-content .blog-post .blog-info {
	.section-title {
		@extend .page-title;
	}
}


.page-basic-header {
	padding-top: em(10);
	margin-bottom: em(30);

	.page-desc {
		margin-top: 7px;
		color: #999 !important;
		@include font-han-regular;
		font-size: em(18);
		line-height: 1.4;
		word-break: keep-all;
	}
}