/**
 * Request
 */
.section-request-info {
	padding: em(19) 0;
	background-color: #fbebe2;
	border-top: 2px solid #a1a1a1;
	border-bottom: 2px solid #a1a1a1;

	li {
		margin-left: em(38, 18) !important;
		font-size: em(18) !important;
		line-height: per(41, 18) !important;
	}
}

.section-write-request {
	margin-top: em(60);

	.form-frame {
		margin-top: em(40);
		border-top: none;
	}

	.form-list {
		dt {
			width: em(206);
		}

		.field-msg .textarea {
			height: em(124);
		}
	}
}
