@font-face {
  font-family: 'KHNPHan Dotum Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/khnphdotfr.eot');
  src: url('../fonts/khnphdotfr.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/khnphdotfr.woff') format('woff'),
	     url('../fonts/KHNPHDotfR.otf') format('opentype');
}