@font-face {
  font-family: 'KHNPHan Dotum Bold';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/khnphdotfb.eot');
  src: url('../fonts/khnphdotfb.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/khnphdotfb.woff') format('woff'),
	     url('../fonts/KHNPHDotfB.otf') format('opentype');
}