@font-face {
  font-family: 'Noto Sans Korean Bold';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/NotoSansKR-Bold-Hestia.eot');
  src: url('../fonts/NotoSansKR-Bold-Hestia.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/NotoSansKR-Bold-Hestia.woff') format('woff'),
	     url('../fonts/NotoSansKR-Bold-Hestia.otf') format('opentype');
}