@font-face {
    font-family: 'Noto Sans Korean Regular';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/NotoSansKR-Regular-Hestia.eot');
		src: url('../fonts/NotoSansKR-Regular-Hestia.eot?#iefix') format('embedded-opentype'),
			   url('../fonts/NotoSansKR-Regular-Hestia.woff') format('woff'),
			   url('../fonts/NotoSansKR-Regular-Hestia.otf') format('opentype');
}