@font-face {
  font-family: 'Noto Sans Korean Black';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/NotoSansKR-Black-Hestia.eot');
  src: url('../fonts/NotoSansKR-Black-Hestia.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/NotoSansKR-Black-Hestia.woff') format('woff'),
	     url('../fonts/NotoSansKR-Black-Hestia.otf') format('opentype');
}