@font-face {
    font-family: 'Noto Sans Korean Medium';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/NotoSansKR-Medium-Hestia.eot');
    src: url('../fonts/NotoSansKR-Medium-Hestia.eot?#iefix') format('embedded-opentype'),
		     url('../fonts/NotoSansKR-Medium-Hestia.woff') format('woff'),
		     url('../fonts/NotoSansKR-Medium-Hestia.otf') format('opentype');
}